h1.page-header a {
  &:hover {
    text-decoration: none;
    color: default;
  }
}

.users-list {
  margin-top: 30px;
  li {
    padding: 10px 0px;
    border-top: 1px solid #eee;
    list-style-type: none;
  }
  li:last-child {
    border-bottom: 1px solid #eee;
  }
}
