<div class="new-msg-form">
  {{input type="text" placeholder="Recipient" value=messageTo class="messageTo-input"}}
  {{input type="text" placeholder="Message" value=body class="msg-input"}}
  <button {{action 'addConversation'}} class='submit'>Submit</button>
</div>
