<div class="user-preview">
  <!-- <img src="{{user.user_pic}}" width="200"> -->
  <img src="http://s1.favim.com/610/5/Favim.com-boy-cute-dog-guy-husky-161669.jpg" width="400">
  <p>
    Robbin Swanson
  </p>
</div>

<p class="text-center choose-match-wrapper">
  {{#link-to '' classNames="downvote"}}
  {{fa-icon "remove"}}
  {{/link-to}}

  {{#link-to '' classNames="upvote"}}
  {{fa-icon "heart"}}
  {{/link-to}}
</p>
