

<p class="text-center choose-match-wrapper">
  {{#link-to '' classNames="downvote"}}
  {{fa-icon "remove"}}
  {{/link-to}}

  {{#link-to '' classNames="upvote"}}
  {{fa-icon "heart"}}
  {{/link-to}}
</p>
