<div class="background">
</div>

<nav class="header-top">
  <div class="container">
    {{#link-to 'index'}}People with Puppies{{/link-to}}
  </div>
</nav>

<div class="container main-content">
  <!-- <h1 class="page-header text-center">
    {{#link-to 'index'}}People with Puppies{{/link-to}}
  </h1> -->

  {{outlet}}
</div>
