<div class="user-preview">
  <img src='{{model.picture}}' width="400">
  <p>
    {{this.name}}
  </p>
</div>

<p class="text-center choose-match-wrapper">
  {{#link-to '' classNames="downvote"}}
    {{fa-icon "remove"}}
  {{/link-to}}

  {{#link-to '' classNames="upvote"}}
    {{fa-icon "heart"}}
  {{/link-to}}
</p>
