<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="users-list">

      <p class="text-center"> Click on your name to Login! </p>

      {{#each user in model}}
        {{#link-to 'user' user}}
          <li>
            {{user.name}}
          </li>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>
